header {
    display: flex;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 70px;
    background: #fff;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);;
}

header * {
    display: flex;
    align-items: center;
}

.logo {
    font-family: Andale Mono, monospace;
    font-weight: bold;
    font-size: 25px;
    color: #abc4ff;
    text-decoration: none;
    white-space: nowrap;
}

.cat-icon {
    padding-right: 5px;
}

form > * {
    font-size: 15px;
}

.search-input {
    background: #fff;
    width: 400px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 5px 0 0 5px;
}
.search-input:focus {
    border: 1px solid #abc4ff;
}

.search-btn {
    margin: 0;
    padding: 12px;
    border: 1px solid #cccccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.micro-btn {
    color: grey;
    border: none;
    margin-left: 10px;
    background: #fff;
    font-size: 25px;
}

.notification-btn {
    font-size: 20px;
    background: #fff;
    border: none;
    color: grey;
    margin-right: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.drop-btn {
    border-radius: 20px;
    background-color: #abc4ff;
    color: black;
    margin: 5px 0;
    padding: 10px;
    font-size: 20px;
    border: none;
}
.dropdown-content {
    display: none;
    position: fixed;
    z-index: 3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    right: 15px;
    background: white;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.drop-btn:hover,
.dropdown:hover .drop-btn {
    background: #d7e3fc;
}

.dropdown-content i {
    padding-right: 5px;
}

.dropdown-content li{
    padding: 0 10px;
}

.dropdown-content li:hover {
    background: #d7e3fc;
}

.log-out-btn {
    border-top: 1px solid #cccccc;
}

.log-out-btn a {
    color: red;
}