main {
    margin-left: 250px;
    padding: 0 20px;
}

.scrollbar {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
    display: none;
}

.scrollbar div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 10px;
    margin: 10px;
    background: #d7e3fc;
    border-radius: 40px;
    border: 1px solid #1b4332;
    cursor: pointer;
    white-space: nowrap;
}

.scrollbar div:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.scrollbar div:first-child {
    background: #abc4ff;
    color: white;
}

.videos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: space-around;
    grid-gap: 10px
}
.video {
    cursor: pointer;
}

.video > img {
    height: 200px;
    width: 300px;
}

.fade {
    opacity: 1;
}

.fade:hover {
    opacity: 0.2;
}

.live {
    background: red;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    width: 50px;
}

.video-block .bottom-label {
    position: absolute;
    right: 10px;
    top: 165px;
    background: rgba(2, 2, 2, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.video-block {
    position: relative;
    background: #fff;
}

.video-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    text-overflow: ellipsis
}

.video-label {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    font-size: 15px;
    cursor: pointer;
}

.video-info > i {
    cursor: pointer;
}

.video-name {
    font-size: 14px;
}

.channel {
    color: grey;
    font-size: 13px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 25px;
}

footer i {
    padding: 20px;
}