.sidebar {
    position: fixed;
    width: 250px;
    height: calc(100% - 70px);
    background: #fff;
    font-size: 14px;
}

.sidebar > * {
    background: #edf2fb;
}

.sidebar ul {
    height: calc(100% - 150px);
    overflow: auto;
}

.sidebar li a {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
}

.sidebar li:hover {
    background: #abc4ff;
    color: #fff;
}

.sidebar .viewers {
    margin-left: auto;
    white-space: nowrap;
}

.viewers i {
    color: red;
    font-size: 10px;
    margin-right: 5px;
}

.viewers i:hover {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 1);
    border-radius: 5px;
    transform: scale(1);
    animation: pulse 1.5s infinite;
}

.info-block {
    background: #edf2fb;
    margin-top: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    font-size: 20px;
    text-align: center;
}

.info-block span::selection{
    background: #abc4ff;
    color: white;
}
.networks a {
    color: black;
    padding: 5px;
}

.networks a:hover {
    color: dodgerblue;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}