body {
    font-family: Courier New, monospace;
    background: #fff;
}

.content {
    padding-top: 70px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.icon {
    background: #fff;
}
